<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="/js/js.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <br>
      {{message}}
    </div>
  </body>
  <footer>

  </footer>

</html>
